@font-face {
  font-family: 'Axiforma';
  src: url('../fonts/Axiforma-Medium.eot');
  src: url('../fonts/Axiforma-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Axiforma-Medium.woff2') format('woff2'),
  url('../fonts/Axiforma-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma Reg';
  src: url('../fonts/Axiforma-Regular.eot');
  src: url('../fonts/Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Axiforma-Regular.woff2') format('woff2'),
  url('../fonts/Axiforma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}